@charset 'UTF-8';

*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px ;
    gap: 5px; 
    text-align: center;
    
}
.caixa{
    background-color: lightgray;
    border: 1px solid black;
}

#topo{
    background-color: azure;  
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
#menu{
    background-color: antiquewhite;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#principal{
    background-color: aquamarine;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
#secundario{
    background-color: brown;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#rodape{
    background-color: rebeccapurple;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}